<h1>Create a new Landmark:</h1>

<form action="/landmarks" method="POST">
  <label for="landmark_name">Landmark Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]">
  <label for="landmark_year_completed">Year of Completion:</label>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]">
  <br>
  <input type="submit" value="Create New Landmark">

</form>